.container-1 {
    margin: 0 auto;
}
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.navigation {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    
    
}
.navigation-parts {
    margin-right: 15px;
}
.section-after-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 161px;
    margin-bottom: 161px;
}
.text-1 {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
}
.text-2 {
    font-size: 22px;
    margin-top: 39px ;
    margin-bottom: 83.9px;
    margin-right: 305px;
    font-family: 'Roboto', sans-serif;
}
.wave {
    color: #FFFFFF;
}
.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 263.76px;
    height: 76.77px;
    background: #3D37F1;
    border-radius: 38%;
}
.right-block {
    width: 700px;

}
.image-1 {
    width: 100%;
}

.container-2 {
    max-width: 1176px
    width:100%
    margin: 0 auto;

}
.container2-textbox {;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 67px;
}
.six-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    width: 370px;
    height: 451px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.active {
    margin-bottom: 25px;
}
.box-image {
    width: 100px;
    height: 99.88;
}
.white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 23%;
    margin-top: 23px;
    font-family: 'Roboto', sans-serif;
}
.our-cervice {
    margin-top: 76px;
    margin-bottom: 12px;
    font-size: 20px;
    color: #3D37F1;
}
.text-part {
    margin-top: 55px;
    margin-bottom: 12.1px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    
}
.text-box {
    font-family: 'Roboto', sans-serif;
   
}
.text-part2 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;

}
.color {
    color: #FFFFFF;

}
.block:nth-child(1){
    background: #FBBA77;
    margin-bottom: 75px;

}
.block:nth-child(2){
    background: #41EAE3;
    margin-bottom: 75px;
    
}
.block:nth-child(3){
    background: #69529F;
    margin-bottom: 75px;
    
}
.block:nth-child(4){
    background: #4386D2;
    
}
.block:nth-child(5){
    background: #A5A2F6;
}
.block:nth-child(6){
    background: #FF8088;
    
}



